# Name: Beth Israel Gastric Emptying
# Author: Ilan Tal
# Date: 2010/10/26

Plugins>Nuclear Medicine, "Gastric Emptying", Gastric_Emptying
Plugins>Nuclear Medicine, "Renal Clearance", Renal_Clearance
Plugins>Nuclear Medicine, "Postage Stamps", Postage_Stamp
Plugins>Nuclear Medicine, "Mask...", Nuclear_Mask
File>Save As, "myDicom...", Nuclear_Dicom
